body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
}

header {
  background-color: #f2f2f2;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 1rem 0;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.product {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 300px;
  transition: transform 0.3s ease-out, box-shadow 0.3s ease-out;
}

.product h3 {
  margin-top: 0;
}

.product p {
  color: #666;
}

.product:hover {
  transform: scale(1.009);
}

.cart {
  background-color: #017a85;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 10px;
  cursor: pointer;
}

.cart:hover {
  background-color: #00474e;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar-left {
  display: flex;
  align-items: center;
}

.logo {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.navbar-right {
  display: flex;
  align-items: center;
}

.view-cart-btn {
  background-color: #008a91;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-right: 10px;
  cursor: pointer;
}

.cart-dropdown {
  position: absolute;
  top: 60px;
  right: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  display: none;
  z-index: 1000;
  padding: 30px;
  max-height: 400px;
  width: 300px;
  overflow-y: auto;
  align-items: center;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
}

.cart-item:last-child {
  border-bottom: none;
}

.cart-item-details {
  flex: 1;
}

.cart-item-quantity {
  display: flex;
  align-items: center;
}

.quantity-label {
  margin: 0 10px;
  font-weight: bold;
}

.quantity-btn {
  background-color: #017a85;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  margin-left: 10px;
  margin-right: 10px;
}

.quantity-input {
  width: 40px;
  text-align: center;
}

.container {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin-left: 20%;
  margin-right: 20%;
  border-color: #333;
  margin-top: 10px;
}

.cart-items {
  max-width: 600px;
  margin: 0 auto; /* Centra el contenido */
}

.cart-items h2 {
  margin-bottom: 20px;
}

.cart-btn {
  background-color: #008a91;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  margin-top: 10px;
  border-radius: 5px;
}

.cart-btn:hover {
  background-color: #124f52;
}
